<div class="card">
    <form [formGroup]="loginForm" (click)="login()">
        <div class="form-group mb-2">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group mb-2">
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="Password">
        </div>
        <button class="btn w-full" type="submit" [disabled]="loginForm.invalid || (loading$ | async)">
            <fa-icon icon="circle-notch" [spin]="true" *ngIf="loading$ | async"></fa-icon>
            Login
        </button>
        <p class="text-red-500 text-center mt-2" *ngIf="error$ | async">
            Invalid credentials
        </p>

    </form>
</div>