
<div class="rounded-full p-1 flex items-center justify-center relative" [style.width]="size" [style.height]="size" [class.live]="mode === 'live'">
    <highcharts-chart
        class="block w-full h-full absolute left-0 top-0 flex-grow"
        [Highcharts]="Highcharts"
        [options]="options"
        [(update)]="updateFlag"
    ></highcharts-chart>
    <div *ngIf="value && mode == 'live'" class="text-center">
      
        <fa-icon icon="heart-pulse" class="block" [style.color]="chooseColor(value.zone)"></fa-icon>
        
        <span class="text-6xl font-bold" [style.color]="chooseColor(value.zone)">{{value.bpm}}</span>
        <hr class="my-2"/>
        <span class="text-xl">{{value.perc | number:'1.0-0'}} %</span>
    </div>

</div>