<div>
    <!-- BACKDROP -->
    <div *ngIf="open" class="fixed left-0 top-0 w-full h-full bg-black bg-opacity-50" @fade></div>

    <!-- STRUCTURE -->
    <div class="modal-container modal-{{type}}" *ngIf="open">
        <div class="modal-content bg-back shadow-lg rounded-lg " @slide>
            <hrt-modal-header *ngIf="type === 'card'" [title]="title"></hrt-modal-header>
            <div class="p-3">
                <ng-template hrtModalTarget></ng-template>
            </div>
        </div>
    </div>
</div>